/* RESET moderno */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables (muy importante para escalar) */
:root {
    --primary: #2563eb;
    --secondary: #1e293b;
    --background: #ffffff;
    --text: #111827;
    --gray: #6b7280;

    --max-width: 1200px;
}

/* Base */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--text);
    line-height: 1.6;
}






/*####################################################################################################*/




.header {
    position: relative;
    width: 100%;

}


/* NAV GENERAL */
.nav {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 12vh;

    background-color: rgba(0, 0, 0, 0.7); /* color + opacidad */
    color: white;

    display: flex;
    align-items: center;

    z-index: 1000;
}


/* CONTENEDOR INTERNO */

.contenedor-nav {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    
}


.nav-left {
    display: flex;
    height: 90%;
    width: 40%;
    align-items: center;
}


.nav-right {
    display: flex;
    height: 90%;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.contenedor-logo {
    display: flex;
    height: 90%;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.link-logo {
    
    height: 70%;
    width: 50%;
    justify-content: center;
}

.img-logo {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* .hamburguesa {
    display: block;
    font-size: 2.5rem;
    text-decoration: none;
    background: none;
    border: none;
    
    box-shadow: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: white;
} */

.contenedor-links {
    display: none;
}

.hamburguesa {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 6px;
}


.hamburguesa span {
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 2px;
    transition: 0.1s;
}

.hamburguesa.activo span:nth-child(1) {
    transform: 
    rotate(45deg)
    translate(6px,6px);
}


.hamburguesa.activo span:nth-child(2) {
    opacity: 0;
}



.hamburguesa.activo span:nth-child(3) {
    transform: 
    rotate(-45deg)
    translate(7px,-7px);
}



.menu-desplegable {
    position: fixed;
    
    width: 30%;
    

    right: 0;
    z-index: 999;

    background: black;

    display: flex;
    flex-direction: column;
    gap: 5%;
    opacity: 0;
    visibility: hidden;
    align-items: start;
    

    transition: 0.3s;

}


.menu-desplegable a {
    color:white;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s;
    padding-left: 10%;
}

.menu-desplegable.activo {
    opacity: 1;
    visibility: visible;
    
}

.menu-desplegable a:hover {

    transform: scale(1.1);
    color: aliceblue;
}



@media (min-width: 412px) {

    .menu-desplegable {
        width: 40%;
    }

    .menu-desplegable a {
        font-size: 1.4rem;
    }


}


@media (min-width: 768px) {

    .menu-desplegable {
        width: 30%;
    }

    .menu-desplegable a {
        font-size: 1.6rem;
    }

    .link-logo {
    
        height: 90%;
        width: 40%;
    }

    .hamburguesa {
        gap: 10px;
    }


    .hamburguesa span {
        width: 55px;
        height: 5px;
    }



    .hamburguesa.activo span:nth-child(1) {
        transform: 
        rotate(45deg)
        translate(10px,10px);
    }

    .hamburguesa.activo span:nth-child(3) {
        transform: 
        rotate(-45deg)
        translate(11px,-11px);
    }


}


@media (min-width:1366px){

    .nav {

        height: 14vh;
    }


    .contenedor-logo {

        justify-content: start;
    }


    .link-logo {

        width: 20%;
        height: 90%;
        margin-left: 20%;
    }

    .hamburguesa {

        display: none;
    }

    .contenedor-links {
        display: flex;
        height: 80%;
        width: 70%;
        align-items: center;
        justify-content: space-between;
    }

    .contenedor-links a {
        font-size: 1.5rem;
        text-decoration: none;
        color: black;
        transition: 0.3s ease;

    }

    .contenedor-links a:hover {
        transform: scale(1.1);
        color: #1e293b;


    }

}


@media (min-width:1920px) {

    .nav {
        height: 15vh;
    }

    .contenedor-links a {

        font-size: 2.2rem;
    }

}






















/*###########################################################################################################################*/



/* HERO CONTENEDOR */
.hero {
    width: 100%;
    height: 80vh; /* alto del hero */

    overflow: hidden;

    margin-top: 12vh;
    position: relative;
    /* PARA QUE NO SE TAPEN O SOBREPONGAN CON EL NAV*/
}


/* CAPA OSCURA */
.carrousel {
    position: relative;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5); /* oscurece */

}


.caja-servicios {

    position: absolute;
    top: 80%;
    left: 50%;


    transform:translate(-50%, -50%);

    z-index:20;


}


.link-servicios {
    
    display:flex;

    justify-content:center;
    align-items:center;

    padding:5px 12px;

    background: red;

    color:white;

    text-decoration:none;

    border-radius:10px;

    font-size:1rem;

    font-weight:bold;

    
    transition: transform 0.2s ease;

}


.link-servicios:hover {
    transform: scale(1.10); /* agranda sin romper layout */
    color: #1e293b;
}












/* TODAS LAS IMAGENES ESTAN SUPERPUESTAS Y SE LAS ACTIVA O NO BAJO UN ORDEN*/
.slides {
    position: relative;
    width: 100%;
    height: 100%;
}

.slides img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transition: opacity 0.5s ease;
}

/* imagen visible */
.slides img.active {
    opacity: 1;
}





.boton-next, .boton-prev {
    display: flex;
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    background: rgba(100,50,20,0.9);
    color: white;
    border: none;
    cursor: pointer;
    height: 3vh;
    width: 5vh;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;

}


.boton-prev { left: 2vh; }
.boton-next { right: 2vh; }



/* DOTS */
.dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: gray;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.dots .active {
    background: white;
}





@media (min-width:384px) {

    .hero {

        height: 85vh;
    }

    
    .boton-next, .boton-prev {
        height: 4vh;
        width: 6vh;
        font-size: 2rem;
    }


    .link-servicios {
    
        padding:6px 13px;

        font-size:1rem;

    }



}



@media (min-width:412px) {

    .hero {

        height: 85vh;
    }

    
    .link-servicios {
    
        padding:7px 15px;

        font-size:1.3rem;

    }



}





@media (min-width:768px) {

    
    .link-servicios {
    
        padding:8px 18px;

        font-size:1.5rem;

    }



}








@media (min-width:1366px) {

    .boton-next, .boton-prev {
        height: 5vh;
        width: 10vh;
        font-size: 2rem;
    }

    .dots {
        bottom: 25px;
        width: 100%;
    }

    .dots span {
        width: 10px;
        height: 10px;
        margin: 5px;
        
    }

    .link-servicios {
    
        padding:5px 15px;

        font-size:1rem;

    }

}



@media (min-width:1920px) {

    .boton-next, .boton-prev {
        height: 5vh;
        width: 10vh;
        font-size: 3rem;
    }

    .dots {
        bottom: 50px;
        width: 100%;
    }

    .dots span {
        width: 20px;
        height: 20px;
        margin: 10px;
        
    }

    .link-servicios {
    
        padding:8px 18px;

        font-size:1.3rem;

    }


}


/*########################################################################################################################*/







/*
########################################################################################################
######################################################################################################## 
*/

/* SECCION CATEGORIAS*/


.seccion-categorias {

    display: flex;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5vh;
    justify-content: center;
    align-items: center;

    
    
}


.super-caja-categoria {
    display: block;

    
}


.caja-titulo-categoria {
    
    align-items: center;
    justify-content: center;
    background: lightblue;
    
}

.caja-titulo-categoria h3 {
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    
    
}

.contenedor-categorias {

    
    background: lightblue;
   
    display: flex;

    flex-wrap: wrap;

    gap: 2px;
    justify-content: center;




}


.caja-categorias {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: gray;
    border-radius: 3px;
    transition: 0.1s ease;
    
    
    
}

.caja-categorias h3 {
    text-decoration: none;
    font-size: 0.7rem;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-right: 10px;
    padding-left: 10px; 
    margin: 0;
    
}


.activa{
    background: red;
}

.caja-categorias:hover {
    transform: scale(1.05);
}



@media (min-width:384px){

    .contenedor-categorias {
        gap: 3px;

    }
    
    .caja-categorias {
        border-radius: 4px;
    }


    .caja-categorias h3 {
        font-size: 0.8rem;
    }

}


@media (min-width:412px){

    
    .caja-categorias h3 {
        font-size: 0.9rem;
        padding-bottom: 2px;
        padding-top: 2px;
        padding-right: 13px;
        padding-left: 13px;
    }

    
}


@media (min-width:768px){

    

    .super-caja-categoria {
        width: 70%;
    }
    
    
    .caja-categorias h3 {
        font-size: 1rem;
        padding-bottom: 2px;
        padding-top: 2px;
        padding-right: 13px;
        padding-left: 13px;
    }

}


@media (min-width:1366px){

    .caja-titulo-categoria h3 {
        font-size: 1.3rem;
        
    }
    
    .caja-categorias h3 {
        font-size: 1rem;
        padding-bottom: 2px;
        padding-top: 2px;
        padding-right: 13px;
        padding-left: 13px;
    }

    .super-caja-categoria {
        width: 40%;
    }

}

@media (min-width:1920px){

    

    .super-caja-categoria {
        width: 60%;
    }

    .caja-titulo-categoria {
        justify-content: center;
    }
    
    .caja-titulo-categoria h3 {
        font-size: 1.5rem;
        
    }
    
    .caja-categorias h3 {
        font-size: 1.3rem;
        padding-bottom: 2px;
        padding-top: 2px;
        padding-right: 13px;
        padding-left: 13px;
    }

}











































/*###############################################################################################################
#################################################################################################################
#################################################################################################################*/

/* SECCION GRILLA*/



.grilla-productos {

    display: block;
    width: 100%;
    min-height: 40vh;
    

    background-color: rgba(208, 221, 221, 0.445); /* color + opacidad */

    padding-top: 3vh;

    
    justify-content: center;
    align-items: center;

    padding-left: 5%;
    padding-right: 5%;
    
}



.titulo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

.titulo-productos {

    color: black;
    font-size: 2.5rem;

}

.contenedor-grilla {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(125px, 140px));

    gap: 25px;
    width: 100%;
    justify-content: center;
    
    
}




.cajitas{

    background:white;

    width: 100%;
    height: 25vh;

    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,0.1);

    transition:0.3s;
    transform-origin: top;
    position: relative;

}


.caja-titulo {

    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;

}



.caja-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 75%;
    overflow: hidden;
}

.img-producto {

    object-fit: cover;
    width: 100%;
    height: 100%;
}





/* BOTONES EXTENDER Y CONTRAER*/

.caja-boton-1 {

    display:flex;
    width: 100%;
    height: 15%;

    align-items: center;
    justify-content: end;
    
}



.caja-boton-2 {


    display:flex;
    width: 100%;
    min-height: 2vh;

    align-items: center;
    justify-content: end;


    
}


.boton-expandir, .boton-contraer {

    padding: 0;
    
    display: block;
    background:none;

    border:none;

    color:#1e6cff;

    font-size:0.6rem;

    cursor:pointer;

    text-decoration:none;

    transition:0.2s;

    
    height: 100%;
    width: 35%;
    

} 






.boton-expandir:hover, .boton-contraer:hover {

    color:#0044cc;

    text-decoration:underline;
}

.cajitas h3{

    font-size:1rem;
}


.cajitas p{

    line-height:1.6;
}


.contenido-extra {
    position: absolute;
    top: 90%;
    left: 0;

    display: flex;
    flex-direction: column;

    width:100%;
    

    background:white;


    border-radius:0 0 15px 15px;

    box-shadow:0 15px 20px -10px rgba(0,0,0,0.4);

    opacity:0;

    visibility:hidden;

    transform:translateY(-10px);

    transition:0.3s;

    z-index:20;

}





.caja-parrafo-2 {
    display: flex;
    justify-content: start;
    width: 100%;
    height: 85%;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;

}







/* ACTIVO */
.cajitas.active .contenido-extra{

    opacity:1;

    visibility:visible;

    transform:translateY(0);
}


.cajitas.active .boton-expandir{

    opacity:0;

    visibility:hidden;

    pointer-events:none;
}



@media (min-width:384px) {

    .contenedor-grilla {

        grid-template-columns: repeat(auto-fit, minmax(125px, 150px));

    }
    

}





@media (min-width:412px) {


    .contenedor-grilla {

        grid-template-columns: repeat(auto-fit, minmax(125px, 155px));

    }

    .cajitas h3{

        font-size:1.2rem;
    }


    .cajitas p{

        font-size: 0.9rem;
    }

    .cajitas {
        height: 25vh;
    }


}




@media (min-width:768px) {


    .cajitas h3{

        font-size:1.6rem;
    }


    .cajitas p{

        font-size: 1rem;
    }

    .cajitas {
        height: 26vh;
    }


    .contenedor-grilla {

        grid-template-columns: repeat(auto-fit, minmax(200px, 200px));

    }

    .caja-titulo {
        height: 15%;
    }

    .caja-imagen {
        height: 75%;
    }

    .caja-boton-1 {
        height: 10%;
    }

    .caja-boton-2 {

        min-height: 2vh;
    }




    .boton-expandir, .boton-contraer {

        font-size: 1rem;
    }


}



@media (min-width:1366px) {

    .cajitas {
        height: 40vh;
    }


    .grilla-productos {

        padding-left: 10%;
        padding-right: 10%;
        min-height: 60vh;
    }

    .contenedor-grilla {

        grid-template-columns: repeat(auto-fit, minmax(200px, 220px));

    }

    .cajitas {

        width: 90%;
    }




    .caja-titulo {
        height: 15%;
    }

    .caja-imagen {
        height: 75%;
    }

    .caja-boton-1 {
        height: 10%;
    }

    .caja-boton-2 {

        min-height: 4vh;
    }  



    .cajitas h3{

        font-size:1.5rem;
    }


    .cajitas p{

        font-size: 0.9rem;
    }


    .boton-expandir, .boton-contraer {

        font-size: 0.7rem;
        width: 30%;
    }

    

}


@media (min-width:1920px) {

    .cajitas {

        height: 35vh;
    }

    .grilla-productos {
        min-height: 50vh;
    }


    .contenedor-grilla {

        grid-template-columns: repeat(auto-fit, minmax(300px, 320px));

    }

    .cajitas h3{

        font-size:2.1rem;
    }


    .cajitas p{

        font-size: 1.2rem;
    }


    .caja-boton-2 {

        min-height: 3.5vh;

    }

    .boton-expandir, .boton-contraer {

        font-size: 0.9rem;
    }

    




}



/*
########################################################################################################
######################################################################################################## 
*/

/* SECCION LEYENDAS*/


.leyenda-beneficios {
    width: 100%;
    display: block;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 10vh;
    background-color: grey;
}


.grilla-beneficios {
    display: flex;

    flex-wrap: wrap;

    gap: 15px;
    width: 100%;
    justify-content: center;

    padding-top: 2vh;
    padding-bottom: 2vh;

}


.card-beneficios {

    background:white;

    width: 30%;
    height: 10vh;

    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,0.1);

    transition:0.3s;
    transform-origin: top;
    position: relative;

}


.contenedor-card-imagen {
    display: flex;
    height: 35%;
    width:35%;
    align-items: center;
    justify-content: center;

}

.card-imagen {
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.texto-card-beneficios {
    display: flex;
    height: 35%;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.texto-card-beneficios p {
    text-decoration: none;
    font-size: 0.7rem;
}






@media (min-width:768px) {


    .texto-card-beneficios p {
        text-decoration: none;
        font-size: 0.7rem;
    }

    
    .card-beneficios {

        width: 30%;
        height: 12vh;
    }

    .contenedor-card-imagen {
        height: 30%;
        width:20%;
    }


}


@media (min-width:1366px) {


    .texto-card-beneficios p {
        font-size: 0.9rem;
    }

    
    .card-beneficios {

        width: 25%;
        height: 20vh;
    }

    .contenedor-card-imagen {
        height: 35%;
        width: 15%;
    }


}



@media (min-width:1920px) {


    .texto-card-beneficios p {
        font-size: 1.2rem;
    }

    
    .card-beneficios {

        width: 32%;
        height: 20vh;
    }

    .contenedor-card-imagen {
        height: 40%;
        width: 15%;
    }


}




/*###########################################################################################################33
##################################################################################################################
###############################################################################################################*/

/* SECCION CONTACTO*/


.seccion-contacto {

    display: flex;
    width: 100%;
    background: gray;
    margin-top: 10vh;
    
}

.super-contenedor-contacto {
    display: flex;
    width: 100%;
    height: 20vh;
    justify-content: center;
    align-items: center;

}

.contenedor-contacto {
    display: flex;

    flex-direction: column;
    width: 40%;
    height: 80%;
    background: wheat;
    align-items: center;
    justify-content: space-between;

    padding-top: 5%;
    padding-bottom: 10%;

}


.caja-titulo-contenedor {
    display: flex;
    width: 60%;
    height: 20%;
    align-items: center;
    justify-content: center;
    
}

.caja-titulo-contenedor h3 {
    font-size: 1rem;
}

.contenedor-link-contacto {
    display: flex;
    height: 30%;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.link-contacto {
    display: flex;
    height: 100%;
    width: 25%;
    border-radius: 25px;
}

.imagen-link-contacto {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


@media (min-width:384px) {

    .contenedor-contacto {
        
        height: 90%;
    }

    .caja-titulo-contenedor h3 {
        font-size: 1.5rem;
    }


    .contenedor-link-contacto {
        height: 40%;
    }

}

@media (min-width:412px) {

    .contenedor-contacto {
        
        width:50%;
    }

    .link-contacto {
        height: 80%;
        width: 20%;
        
    }

}

@media (min-width:768px) {

    .contenedor-contacto {
        
        width:40%;
    }

    .link-contacto {
        width: 25%;
        
    }

    .super-contenedor-contacto {
        height: 30vh;
    }

}


@media (min-width:1366px) {

    .contenedor-contacto {
        height: 90%;
        width: 30%;
        padding: 0;
        padding-bottom: 50px;
    }

    .super-contenedor-contacto {
        height: 40vh;
    }

    .caja-titulo-contenedor h3 {
        font-size: 2rem;
    }

    .link-contacto {
        width: 15%;
        height: 50%;
        
    }

    
}


@media (min-width:1920px) {

    
    .super-contenedor-contacto {
        height: 40vh;
    }

    .caja-titulo-contenedor h3 {
        font-size: 2.5rem;
    }

    .link-contacto {
        width: 25%;
        height: 75%;
        
    }

    
}




/*##########################################################################################################
############################################################################################################
############################################################################################################*/





/* SECCION FORMULARIO */



.seccion-formulario{

    width:100%;

    display:flex;

    justify-content:center;

    padding:50px 20px;
}

.caja-titulo-formulario {

    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.formulario-contenedor{

    width:100%;

    max-width:700px;

    padding:15px;

    border-radius:12px;

    box-shadow:
        0 10px 25px rgba(0,0,0,.1);
}

.caja-titulo-formulario h2{

    margin-bottom:10px;

    font-size:1.8rem;
}

.caja-titulo-formulario p{

    margin-bottom:25px;

    line-height:1.2; 
}

.formulario-contacto{

    display:flex;

    flex-direction:column;

    gap:20px;
}

.campo-formulario{

    display:flex;

    flex-direction:column;

    gap:5px;
}

.campo-formulario label{
    font-size: 0.8rem;
    font-weight:600;
}

.campo-formulario input,
.campo-formulario textarea{

    width:90%;

    padding:8px;

    border:1px solid #cccccc;

    border-radius:8px;

    font-size:0.8rem;

    transition:
        border-color .2s,
        box-shadow .2s;
}

.campo-formulario textarea{

    resize:vertical;

    min-height:100px;
}

.campo-formulario input:focus,
.campo-formulario textarea:focus{

    outline:none;

    border-color:#2563eb;

    box-shadow:
        0 0 0 3px rgba(37,99,235,.15);
}

.campo-checkbox-formulario{

    display:flex;

    align-items:center;
}

.campo-checkbox-formulario label{

    display:flex;

    gap:10px;

    align-items:center;
}

.boton-enviar-formulario{

    border:none;

    border-radius:8px;

    padding:12px;

    cursor:pointer;

    font-size:1.2rem;

    font-weight:bold;

    transition:
        transform .2s,
        opacity .2s;
}

.boton-enviar-formulario:hover{

    transform:translateY(-2px);

    opacity:.9;
}

.boton-enviar-formulario:active{

    transform:translateY(0);
}



@media (min-width:384px) {


.formulario-contenedor{
    padding:12px;
    border-radius:16px;

}

.caja-titulo-formulario h2{

    margin-bottom:10px;

    font-size:1.9rem;
}

.caja-titulo-formulario p{

    margin-bottom:25px;

    line-height:1.2; 
}

.formulario-contacto{
    gap:20px;

}

.campo-formulario{
    gap:5px;

}

.campo-formulario label{
    font-size: 0.9rem;
    font-weight:600;
}

.campo-formulario input,
.campo-formulario textarea{
    padding:8px;

    border-radius:8px;

    font-size:0.9rem;

}

.campo-formulario textarea{
    min-height:110px;

}


.campo-checkbox-formulario label{
    gap:10px;

}

.boton-enviar-formulario{
    border-radius:8px;
    padding:12px;
    font-size:1.3rem;

}

}


@media (min-width:768px) {


    
.seccion-formulario{

    padding:60px 50px;
}


.formulario-contenedor{
    padding:25px;

    border-radius:15px;

    box-shadow:
        0 13px 28px rgba(0,0,0,.1);
}

.caja-titulo-formulario h2{

    margin-bottom:20px;

    font-size:2.2rem;
}

.caja-titulo-formulario p{

    margin-bottom:45px;
    font-size: 1.4rem;
}

.formulario-contacto{
    gap:20px;

}

.campo-formulario{
    gap:5px;

}

.campo-formulario label{
    font-size: 1.5rem;
}

.campo-formulario input,
.campo-formulario textarea{
    padding:8px;

    border-radius:8px;

    font-size:1.5rem;

}

.campo-formulario textarea{
    min-height:140px;

}

.campo-formulario input:focus,
.campo-formulario textarea:focus{

    box-shadow:
        0 0 0 4px rgba(37,99,235,.15);
}

.campo-checkbox-formulario{


    font-size: 1.4rem;
}

.campo-checkbox-formulario label{

    gap:15px;
}


input[type="checkbox"]{

    transform: scale(1.5);

}

.boton-enviar-formulario{
    border-radius:12px;

    padding:20px;

    font-size:2rem;

}


}


@media (min-width:1366px) {



.formulario-contenedor{
    display: flex;
    flex-direction: column;
    
    max-width:500px;
    
    border-radius:12px;
    height: 500px;
    justify-content: center;
    
}



.caja-titulo-formulario h2{

    margin-bottom:5px;

    font-size:2rem;
}

.caja-titulo-formulario p{

    margin-bottom:15px;

    line-height:1.2; 
    font-size: 1rem;
}

.formulario-contacto{
    gap:10px;

}

.campo-formulario{
    gap:3px;

}

.campo-formulario label{
    font-size: 0.8rem;
}

.campo-formulario input,
.campo-formulario textarea{
    padding:6px;

    border-radius:8px;

    font-size:0.8rem;

}

.campo-formulario textarea{
    min-height:100px;

}


.campo-checkbox-formulario{
    font-size: 0.8rem;

}

.campo-checkbox-formulario label{
    gap:10px;

}

input[type="checkbox"]{

    transform: scale(1.1);

}

.boton-enviar-formulario{
    border-radius:12px;

    padding:10px;
    font-size:1.1rem;

}



}





@media (min-width:1920px) {



.formulario-contenedor{
    display: flex;
    flex-direction: column;
    
    max-width:600px;
    
    border-radius:12px;
    height: 600px;
    justify-content: space-between;
    
}



.caja-titulo-formulario h2{

    margin-bottom:15px;

    font-size:2.4rem;
}

.caja-titulo-formulario p{

    margin-bottom:25px;

    line-height:1.2; 
    font-size: 1.2rem;
}

.formulario-contacto{
    gap:15px;

}

.campo-formulario{
    gap:4px;

}

.campo-formulario label{
    font-size: 1rem;
}

.campo-formulario input,
.campo-formulario textarea{
    padding:6px;

    border-radius:8px;

    font-size:1rem;

}

.campo-formulario textarea{
    min-height:130px;

}


.campo-checkbox-formulario{
    font-size: 0.8rem;

}

.campo-checkbox-formulario label{
    gap:10px;

}

input[type="checkbox"]{

    transform: scale(1.1);

}

.boton-enviar-formulario{
    border-radius:12px;

    padding:10px;
    font-size:1.1rem;

}



}











