/* RESET moderno */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables (muy importante para escalar) */
:root {
    --primary: #2563eb;
    --secondary: #1e293b;
    --background: #ffffff;
    --text: #111827;
    --gray: #6b7280;

    --max-width: 1200px;
}

/* Base */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--text);
    line-height: 1.6;
}






/*####################################################################################################*/


/* NAV GENERAL */
.nav {
    display: flex;
    
    top: 0;
    left: 0;

    width: 100%;
    height: 12vh;

    background-color: rgba(0, 0, 0, 0.7); /* color + opacidad */
    color: white;

    z-index: 1000;
}


/* CONTENEDOR INTERNO */

.contenedor-nav {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.nav-left {


    display: flex;

    height: 90%;

    width: 18%;
    align-items: center;
    justify-content: center;

}


.nav-center {

    display: flex;

    height: 90%;

    width: 50%;
    align-items: center;
    justify-content: space-between;

}

.nav-right {

    display: flex;

    height: 90%;
    width: 18%;
}



.contenedor-logo {
    display: flex;

    height: 70%;
    width: 80%;
    overflow: hidden;
    

}


.img-logo {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;


}


.carrousel-mobile {

    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    gap: 10%;
    margin: auto;


}

.carrousel-mobile a {

    flex-shrink: 0;
    text-decoration: none;
    font-size: 1.2rem;
    scroll-snap-align: start;
    
    color: red;

}

.carrousel-mobile::-webkit-scrollbar-track {
    background: #222;
}

.carrousel::-webkit-scrollbar-thumb {

    background: #888;
    border-radius: 20px;
}


.boton-derecha {
    display: none;
}

.boton-izquierda {
    display: none;
}

.carrousel-escritorio {
    display: none;
}



@media (min-width:384px) {

    .nav-left {
        width: 20%;
    }


    .contenedor-logo {

        height: 80%;
        width: 90%;
    }

}


@media (min-width:412px) {

    
    .carrousel a {
        font-size: 1.5rem;
    }

}


@media (min-width:1366px) {


    .nav {
        height: 16vh;
    }


    .contenedor-nav {
        height: 95%;
    }

    .nav-center {
        align-items: center;
        justify-content: center;
        width: 50%;
    }

    .nav-left {

        width: 20%;
    }

    .nav-right {

        width: 20%;
    }

    .carrousel-mobile {

        display: none;
    }

    .carrousel-escritorio {
        display: flex;
        align-items: center;
        gap: 10px;
        
        height: 100%;
        width: 70%;
        align-items: center;
        justify-content: space-between;
        
    }

    
    /* ventana visible */
    .vista {
        overflow-x: auto;
        scroll-behavior: smooth;

        /* importante: oculta scrollbar */
        scrollbar-width: none;

        width: 100%;
        }

    .vista::-webkit-scrollbar {
        display: none;
    }


    /* contenedor de links */
    .items {
        display: flex;
        gap: 10%;
    }


    /* links no se achican */
    .items a {
        flex: 0 0 auto;
        
        white-space: nowrap;

        text-decoration: none;
        color: black;
        font-size: 2.5rem;
        scroll-snap-align: start;
        transition: 0.3s ease;

    }

    .items a:hover {

        transform: scale(1.2);
    }


    .boton-derecha {
        display: block;
        height: 20%;
        width: 5%;
    }

    .boton-izquierda {
        display: block;
        height: 20%;
        width: 5%;
    }



    .contenedor-logo {

        width: 100%;
        height: 100%;
        padding-left: 10%;
        align-items: center;

    }

    .link-logo {
        display: block;
        width: 40%;
        height: 90%;

    }

}


@media (min-width:1920px) {

    .items a {
        font-size: 3.5rem;
    }

    .boton-derecha {
        height: 20%;
        width: 8%;
    }

    .boton-izquierda {
        height: 20%;
        width: 8%;
    }



}









































/*###########################################################################################################################*/



/* HERO CONTENEDOR */
.hero {
    width: 100%;
    height: 160vh; /* alto del hero */

    background-image: url("media/fondo.png");
    background-size: cover;
    background-position: center;

    position: relative;

    margin-top: 90px;
    /* PARA QUE NO SE TAPEN O SOBREPONGAN CON EL NAV*/
}


/* CAPA OSCURA */
.hero-overlay {
    position: absolute;
    top: 0; /*bien arriba en su contenedor*/
    left: 0; /*empezando desde la izquierda*/
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5); /* oscurece */

    display: flex;
    justify-content: center;
    align-items: center;
}


/* TEXTO */
.hero-text {
    color: white;
    font-size: 2.5rem;
    text-align: center;
}


/* MOBILE */
@media (max-width: 400px) {


    /* ESTE ES PARA QUE AL CAMBIAR EL TAMANIO DE LA PANTALLA EL HERO Y EL NAV NO SE TAPEN
    Y AL MISMO TIEMPO NO DEJEN UN ESPACIO VACIO */

    .hero {
        margin-top: 55;
    }

}


/*########################################################################################################################*/